services:
  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "9101:8080"
    environment:
      SERVER_PORT: 8080

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "9102:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8080
    depends_on:
      - config-server

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "9004:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8080
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8080/eureka/
    depends_on:
      - config-server
      - eureka-server

  microservice-produits:
    build: ./microservice-produits
    container_name: microservice-produits
    ports:
      - "9001:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8080
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8080/eureka/
    depends_on:
      - config-server
      - eureka-server

  microservice-commandes:
    build: ./microservice-commandes
    container_name: microservice-commandes
    ports:
      - "9002:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8080
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8080/eureka/
    depends_on:
      - config-server
      - eureka-server
      - microservice-produits

  front-api:
    build: ./front-api
    container_name: front-api
    ports:
      - "9003:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8080
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8080/eureka/
    depends_on:
      - config-server
      - eureka-server
      - microservice-produits
      - microservice-commandes
